*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background: #f1f1f1;
}

.login-box{
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000;
}

.login-box h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 2.5em;
	margin-bottom: 50px;
}

.login-box .user-box{
	position: relative;
}

.login-box .user-box input{
	width: 100%;
	padding: 10px 0;
	font-size: 1em;
	color: #000;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
}

.login-box .user-box label{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1em;
	padding: 10px 0;
	color: #000;
	pointer-events: none;
	transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
	top: -20px;
	left: 0;
	color: #ff6b6b;
	font-size: 0.8em;
}

.login-box input[type="submit"]{
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	background: #fff;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 20px;
}

.login-box p{
	text-align: center;
	font-size: 1em;
	color: #000;
	margin-top: 20px;
}

.login-box a{
	color: #ff6b6b;
	text-decoration: none;
}
